#gameContainer {
    font-family: "ariel bold";
    width: auto;
    text-align: center;
}

#tableContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 600px;
    margin: auto;
}

.cell {
    width: 200px;
    height: 200px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 200px;
    font-size: 50px;
    cursor: pointer;
}

